
SUBSYSTEM=="input", SUBSYSTEM=="usb", ENV{ID_INPUT_KEYBOARD}="1", GOTO="keyboard_module"

LABEL="keyboard_module"
ACTION=="add", RUN+="/sbin/modprobe keyboard_module"
ACTION=="remove", RUN+="/sbin/modprobe -r keyboard_module"

